#container{
    height:501px;
    width:501px;
    border: 4px solid black;
    margin: 0 auto;
}
.columns{
    
    display: flex;
    flex:1;
    border-color: white;
}
.rows{
    background-color: white;
    height: 5px;
    width: 5px;
}